@{
    var language = Context.GetPipelineLanguage(); 
    var localizedStrings = Context.GetLocalizedResources(language);
}

<div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright text-muted">
                        @Html.Raw(string.Format(localizedStrings["CopyrightFooterFormat"], @DateTime.Now.Year))
                        <br />
                        @if (Context.String(BlogKeys.RssPath) != null) {
                            <a href="@Context.GetLink(language + "/" + Context.String(BlogKeys.RssPath))"><i class="fa fa-rss"></i> @localizedStrings["RSSFeed"]</a>
                        } 
                        @(Context.String(BlogKeys.RssPath) != null && Context.String(BlogKeys.AtomPath) != null ? "|" : "")
                        @if (Context.String(BlogKeys.AtomPath) != null) { 
                            <a href="@Context.GetLink(language + "/" + Context.String(BlogKeys.AtomPath))"><i class="fa fa-rss"></i> @localizedStrings["AtomFeed"]</a>
                        }
                        <br />
                        @Html.Partial("_Langbar")
                        <br />
                        <strong><a href="https://wyam.io">@localizedStrings["GeneratedByWyam"]</a></strong>
                    </p>
                </div>
        </div>
</div>
