@model IEnumerable<IDocument>

@{
    var language = Context.GetPipelineLanguage(); 
    var localizedStrings = Context.GetLocalizedResources(language);
    var cultureInfo = new System.Globalization.CultureInfo(localizedStrings["Locale"]);
}

@{
    foreach (IDocument post in Model)
    {
        string lead = post.String(BlogKeys.Lead);
        
        <div class="post-list">
            <a href="@Context.GetLink(post)">
                <h3 class="post-title">@post.WithoutSettings.String(BlogKeys.Title)</h3>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h4 class="post-subtitle">@lead</h4>
                }
            </a>
            <p class="post-meta">@string.Format(cultureInfo, localizedStrings["PostedOn"], post.Get<DateTime>(BlogKeys.Published))</p>      
            @if(Context.Bool(BlogKeys.ArchiveExcerpts))
            {
                @Html.Raw(post.String(BlogKeys.Excerpt))
            }            
        </div>   
    }
}