@{
    var language = Context.GetPipelineLanguage(); 
    var localizedStrings = Context.GetLocalizedResources(language);
    string Title = Model.WithoutSettings.String(BlogKeys.Title);
    string PageTitle = localizedStrings[BlogKeys.Title] + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}
<hr class="visible-xs-block" />
    <h5>@Html.Raw(localizedStrings["ShareAndSocialTitle"])</h5>
<div class="sidebar-share">
    @if (Context.String(BlogKeys.RssPath) != null) {
        <a href="@Context.GetLink(language + "/" + Context.String(BlogKeys.RssPath))" target="_blank"><img class="share-img" src="/assets/images/rss.png" alt="@localizedStrings["RSSFeed"]" title="@localizedStrings["RSSFeed"]"></img></a>
    }
    @*if (Context.String(BlogKeys.AtomPath) != null) { 
        <a href="@Context.GetLink(language + "/" + Context.String(BlogKeys.AtomPath))" target="_blank"><img class="share-img" src="/assets/images/rss.png" alt="@localizedStrings["AtomFeed"]" title="@localizedStrings["AtomFeed"]"></img></a>
    }*@
    <a href="https://twitter.com/giannirg" target="_blank"><img class="share-img" src="/assets/images/twitter.png" alt="Twitter" title="Twitter"></img></a>
    <a href="https://www.linkedin.com/pub/gianni-rosa-gallina/21/6a8/b20" target="_blank"><img class="share-img" src="/assets/images/linkedin.png" alt="Linkedin" title="Linkedin"></img></a>
    <a href="https://github.com/gianni-rg" target="_blank"><img class="share-img" src="/assets/images/github.png" alt="GitHub" title="GitHub"></img></a>
    <a href="https://www.youtube.com/user/anblinrg" target="_blank"><img class="share-img" src="/assets/images/youtube.png" alt="YouTube" title="YouTube"></img></a>
</div>
<div class="text-center">
    <a href="https://www.amazon.com/Gianni-Rosa-Gallina-Giannis-Blog/dp/B07N1GNDX4/" target="_blank"><img class="alexa-img" src="/assets/images/amazon_alexa_skill.png" alt="Gianni's Hub Alexa Skill" title="Gianni's Hub Alexa Skill"></img></a>
</div>
<h5>@Html.Raw(localizedStrings["CoursesTitle"])</h5>
<div class="pluralsight text-center">
      <a href="https://www.pluralsight.com/authors/gianni-rosagallina" target="_blank"><img class="event-img" src="/assets/images/pluralsight_logo.jpg" alt="Pluralsight Author" title="Pluralsight Author"/></a>
</div>